html {
    word-break: break-word;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* span.comment {
    color: white;
    float: right;
    position: relative;
    border: 5px solid #607D8B;
    text-align: center;
    background: #607D8B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
} */

span.comment {
    position: relative;
    background: #607D8B;
    border: 5px solid #607D8B;
    border-radius: 0.6em;
    color: white;
    float: right;
    margin-bottom: 20px;
}

span.comment:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 75%;
    width: 0;
    height: 0;
    border: 0.938em solid transparent;
    border-top-color: #607D8B;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.469em;
    margin-bottom: -0.937em;
}

.data-size {
    height: inherit;
    width: 90%;
    left: 0;
    top: 0;
    margin-left: 5%;
    margin-top: 3.66em;
    padding: 0.75em;
    overflow: fixed;
    float: top;
    position: fixed;
}

/* changes lable color of witches */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #558B2F !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #558B2F !important;
}

/* Hight for parallax container */
.parallax-container {
      height: 500px;
    }
