{% extends "blog/base.html" %}
{% load render_table from django_tables2 %}

<!-- This template is used to create the page of one protocol. -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title center-align">
            Protokoll:<br />{{current_protocol.protocol_id}}</span>
          <p class="center-align"><i class="large material-icons blue-grey-text darken-4">insert_drive_file</i></p>
          <span class="card-title">Metadaten</span>
          <ul>
            <li><i class="material-icons blue-grey-text darken-4" style="margin-right: 10px;">date_range</i>Wahlperiode: {{current_protocol.protocol_period}}</li>
            <br />
            <li><i class="material-icons blue-grey-text darken-4" style="margin-right: 10px;">date_range</i>Sitzungsnummer: {{current_protocol.session_nr}}</li>
            <br />
            <li><i class="material-icons blue-grey-text darken-4" style="margin-right: 10px;">date_range</i>Datum: {{current_protocol.session_date}}</li>
            <br />
            <li><i class="material-icons blue-grey-text darken-4" style="margin-right: 10px;">access_time</i>Startuhrzeit der Sitzung: {{current_protocol.start_of_session}} Uhr</li>
            <br />
            <li><i class="material-icons blue-grey-text darken-4" style="margin-right: 10px;">av_timer</i>Enduhrzeit der Sitzung: {{current_protocol.end_of_session}} Uhr</li>
            <br />
        </div>
      </div>
      <ul class="collapsible hoverable white">
        <li>
          <div class="collapsible-header"><i class="material-icons left blue-grey-text darken-4">account_circle</i>MdBs dieser Rede</div>
          <div class="collapsible-body">
            <ul>
              {% for speaker in speakers %}
              <li>
                <a href="/mdbs/mdb/{{speaker.id}}">{{speaker.id}}: {{speaker.last_name}}, {{speaker.first_name}}</a>
              </li>
              <br />
              {% endfor %}
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons left blue-grey-text darken-4">toc</i>Inhaltsverzeichnis</div>
          <div class="collapsible-body"><span>{{current_protocol.toc}}</span></div>
        </li>
        {% if current_protocol.attachment %}
        <li>
          <div class="collapsible-header"><i class="material-icons left blue-grey-text darken-4">folder</i>Anlagen</div>
          <div class="collapsible-body"><span>{{current_protocol.attachment}}</span></div>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Gesamtes Protokol</span>
          {% for speaker, speech, related_speech in speaker_speech_html %}
          {% autoescape off%}
          {% if speaker.id %}
          <h5><a href="/mdbs/mdb/{{speaker.id}}">{% if speaker.title %}
              {{speaker.title}}
              {% endif %}
              {% if speaker.nobility %}
              {{speaker.nobility}}
              {% endif %}
              {{speaker.first_name}}
              {% if speaker.name_prefix %}
              {{speaker.name_prefix}}
              {% endif %}
              {{speaker.last_name}}
              ({{speaker.party}}):</a></h5>
          {% else %}
          <span class="card-title">Rede von: Unbekannt<a class="tooltipped" data-position="bottom" data-tooltip="Dieses Mitglied des Bundestags konnte leider nicht automatisch erkannt werden. Grundlegende Infos zu Namen etc. können beim zugehörigen Redeeintrag unter dem Punkt Original String gefunden werden."><i
                class="material-icons blue-grey-text darken-4" style="margin-right: 10px;">info_outline</i></a></span>
          {% endif %}
          <h6><a href="/protokolle/rede/{{related_speech.speech_id}}">Rede ID: {{related_speech.speech_id}}</a></h6>
          {{speech}}
          {% endautoescape %}
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
