{% extends "blog/base.html" %}
{% load render_table from django_tables2 %}

<!-- This template is used to create the page for the searchable speeches list. -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Reden und Redebeiträge aller Mitglieder des Bundestags seit 1949 bis 2017</span>
          <p>Hier ist eine liste aller Reden, die Mitglieder des Bundestags gehalten haben. Eine Volltextsuche ist zurzeit noch nicht implementiert.</p>
          <div class="row">
            <form method="GET" class="col l4 offset-l8 m6 offset-m6 s12">
              <div class="row">
                <div class="input-field">
                  <i class="material-icons prefix">search</i>
                  {{form}}
                </div>
              </div>
            </form>
          </div>
          <div style="overflow-x:auto;">
            {% render_table table %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
