{% extends "blog/base.html" %}
{% load render_table from django_tables2 %}

<!-- This template creates the searchable list of all speakers MdBs of the
Bundestag since 1949. -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Mitglieder des Bundestags</span>
          <p>Dies ist eine Liste aller Abgeordneten seit 1949 bis einschließlich der aktuellen Wahlperiode. Die Liste kann sortiert und durchsucht werden.</p>
          <p>Ausgangsdaten für diese Liste können auf der <a href="https://www.bundestag.de/service/opendata">offiziellen Seite des Bundestags</a> heruntergeladen werden.</p>
          <p>Für jede Person ist ein Profil angelegt, dass Informationen zu dieser bereithält und alle Reden bzw. Redebeiträge dieser gesammelt darstellt.</p>
          <br />
          <div class="row">
            <form method="GET" class="col l4 offset-l8 m6 offset-m6 s12">
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">search</i>
                {{form}}
              </div>
            </div>
            </form>
          </div>
          <div style="overflow-x:auto;">
            {% render_table table %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
