{% extends "blog/base.html" %}

<!-- For now unused template for blog pages. -->

{% block content %}
<div class="container">
  <div class="row">
    <h1>Blog page!</h1>
  </div>
</div>
{% endblock content %}
