{% extends "blog/base.html" %}

<!-- Template for teh static impressums page.  -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Impressum</span>

          <b>Angaben gemäß § 5 TMG</b>
          <br />
          <p>Stephan Porada<br />
            Bremer Straße 17a<br />
            33613 Bielefeld</p>
          <br />
          <b>Kontakt</b>
          <br />
          <p>E-Mail: sporada@uni-bielefeld.de</p>
          <br />
          <b>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</b>
          <br />
          <p>Stephan Porada<br />
            Bremer Straße 17a<br />
            33613 Bielefeld</p>
          <br />
          <b>Haftung für Inhalte</b>
          <br />
          <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
            allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
            verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
            forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
            Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
            Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
            Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
          <br />
          <p>Haftung für Links
            Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
            Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
            verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
            2 / 4Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
            waren zum Zeitpunkt der Verlinkung nicht erkennbar.
            Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
            Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
            umgehend entfernen.</p>
          <br />
          <p>Quelle:
            eRecht24</p>
          <br />
          <b>Quelle der Bilder:</b>
          <p>
            Bild 4094966.jpg auf der Homepage und Infoseite: (c) Deutscher Bundestag / Marc-Steffen Unger <br />
            Bild 4116197.jpg auf der Homepage und Infoseite: (c) Deutscher Bundestag / Thomas Köhler/photothek.net <br />
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
